{% extends "navbar.html" %}
{% block content %}

{% block scripts %}
{{ super() }}

<!--引入css-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
 
<!--引入JavaScript-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
 
<!--初始化代码-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable().fnDestroy();
        table = $('#table').DataTable({
            "ajax": "http://10.190.190.137:5005/history_data",
            "columns": [
                { "data": 'datetime'},
                { "data": 'context'},
                { "data": 'question'},
                { "data": 'num'},
                { "data": 'bidaf'},
                { "data": 'rnet'},
            ],
            "order": [[ 0, "desc" ]]
        }); 
        table.on('click', 'tr', function() {
            var obj = table.row(this).data();
            var strJSON = JSON.stringify(obj);
            var data = eval( "(" + strJSON + ")" );
            self.location="http://10.190.190.137:5005/example/"+data.id; 
        });
      });
    
</script>

{% endblock %}


<div class="container">
    <div class="page-header">
        <h1>Hello, Everyone.</h1>
        <p>You can <b>click the row</b> that you want to see the detail in the example view.</p>
    </div>

    <div>
	<table id="table" width="100%" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>DateTime</th>
                <th>Context</th>
                <th>Question</th>
                <th>Num</th>
                <th>BiDAF</th>
                <th>RNet</th>
            </tr>
        </thead>
    </table>
    </div>

</div>
{% endblock %}
